@media only screen and (max-width: 1000px) {
  .banner-card {
    width: 44%;
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
  }
  .banner-2-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}
@media only screen and (max-width: 800px) {
  .banner-1 {
    width: 99%;
  }
  .banner-2 {
    width: 73%;
  }
  .col-2{
    width: 32%;
    margin-bottom:15px;
  }
  .team-img{
    width: 48%;
  }
  .team-img:nth-child(even) {
    margin-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  .banner-1{
    padding: 0 20px;
  }
  .banner-card {
    width: 100%;
    padding: 29px;
  }
  .banner-2 {
    width: 100%;
    padding:0 20px;
  }
  .card-container {
    width: 100%;
  }
  .strategy{
    .row{
      gap: 0;
    }
  }
  .card{
    margin:15px auto;
  }
  .card-container:nth-child(1){
    margin:0;
  }
  .col-2{
    width: 48%;
  }
}
@media only screen and (max-width: 400px) {

  .col-2{
    width: 100%;
  }
  .team-img{
    width: 100%;
  }
}